<section class="single-player" ng-init="$ctrl.init()">
  <div class="top-container">
    <div class="player-right">
      <select ng-model="$ctrl.selectedOpponent" ng-options="opponent.name for opponent in $ctrl.opponents">
        <option value=""> Opponent: </option>
      </select>
    </div>
  </div>
  <div class="stats-container">
    <div class="kb-row">
      <p class="stats left">{{$ctrl.selectedOpponent.wins}}</p>
      <h3 class="stats title">Wins</h3>
      <p class="stats right">{{$ctrl.selectedOpponent.losses}}</p>
    </div>
    <div class="kb-row">
      <p class="stats left">{{$ctrl.selectedOpponent.pointsFor}}</p>
      <h3 class="stats title">Total Points</h3>
      <p class="stats right">{{$ctrl.selectedOpponent.pointsAgainst}}</p>
    </div>
    <div class="kb-row">
      <p class="stats left">{{$ctrl.selectedOpponent.averageFor}}</p>
      <h3 class="stats title">Average Score</h3>
      <p class="stats right">{{$ctrl.selectedOpponent.averageAgainst}}</p>
    </div>
  </div>
</section>
