<div class="stats" ng-init="$ctrl.getPlayers()">
  <div class="select-players">
    <div class="select-header">
      <h3>Show/Hide Players</h3>
    </div>
    <div class="select-single" ng-repeat="player in $ctrl.players" ng-click="player.show = !player.show" ng-class="{'selected': player.show === true, 'unselected': player.show === false}">
      <p>{{player.name}}</p>
    </div>
  </div>
  <kb-player-page ng-repeat="player in $ctrl.players" player="player" player-array="$ctrl.players" ng-show="player.show"></kb-player-page>
</div>
