<div class="home" ng-init="$ctrl.getPlayers()">
  <div class="kb-row">
    <h3>Sortable Standings</h3>
  </div>
  <div class="kb-container">
    <div class="kb-row header-row">
      <div class="kb-column name">
        <h5>Player</h5>
      </div>
      <div class="kb-column wins" ng-click="$ctrl.setOrderProperty('wins')">
        <h5>Wins</h5>
      </div>
      <div class="kb-column losses" ng-click="$ctrl.setOrderProperty('losses')">
        <h5>Losses</h5>
      </div>
      <div class="kb-column percentage" ng-click="$ctrl.setOrderProperty('percentage')">
        <h5>Win %</h5>
      </div>
      <div class="kb-column differential" ng-click="$ctrl.setOrderProperty('differential')">
        <h5> +/- </h5>
      </div>
    </div>
    <div class="kb-row" ng-repeat="player in $ctrl.players | orderBy: $ctrl.orderProperty" ng-class-even="'even'" ng-class-odd="'odd'">
      <div class="kb-column name">
        <p>{{player.name}}</p>
      </div>
      <div class="kb-column wins">
        <p>{{player.wins}}</p>
      </div>
      <div class="kb-column losses">
        <p>{{player.losses}}</p>
      </div>
      <div class="kb-column percentage">
        <p>{{player.percentage}}</p>
      </div>
      <div class="kb-column differential">
        <p>{{player.differential}}</p>
      </div>
    </div>
  </div>
</div>
